@{
    ViewData["Title"] = "Home Page 2";
}

<img src="~/images/pic1.png" class="img-center big-logo" />

<div class="logo-container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    	
    <!--
    <p>Use this area to provide additional information.</p>
    -->

</div>